.bg-img-hero {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.position-absolute-top-right {
  position: absolute;
  top: 0;
  right: 0;
}

.position-absolute-top-left {
  position: absolute;
  top: 0;
  left: 0;
}

.bg-cover {
  object-fit: cover;
  object-position: center;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}