// background colors
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @each $color, $value in $theme-colors {
      .bg#{$infix}-#{$color} { background-color: $value; }
    }
  }
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .bg#{$infix}-transparent { background-color: transparent!important; }
  }
}


.bg-img-hero {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.bg-center { background-position: center; }

.position-absolute-top-right {
  position: absolute;
  top: 0;
  right: 0;
}

.position-absolute-top-left {
  position: absolute;
  top: 0;
  left: 0;
}

.bg-cover {
  object-fit: cover;
  object-position: center;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.fullscreen {
  min-height: calc(100vh - (#{$navbar-brand-height} + 1px))!important;
  height: auto!important;
  .vh-100 {
    min-height: calc(100vh - (#{$navbar-brand-height} + 1px))!important;
    height: auto!important;
  }
}

.fullscreen-hero {
  min-height: 100vh!important;
  height: auto!important;
  margin-top: calc((-#{$navbar-brand-height} - 1px))!important;
  .vh-100 {
    min-height: 100vh!important;
    height: auto!important;
  }
}

.bg-between-bottom {
  background-repeat: no-repeat;
  background-position: left bottom, right bottom;
}

.bg-center-bottom {
  background-repeat: no-repeat;
  background-position: center bottom;
}
.bg-top-right {
  background-repeat: no-repeat;
  background-position: top right;
}

.bg-img-md-none {
  @include media-breakpoint-down(md) {
    background-image: none!important;
  }
}

.bg-img-sm-none {
  @include media-breakpoint-down(sm) {
    background-image: none!important;
  }
}

//layer-white-before
.layer-white-before {
  &::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $white;
    width: 1000%;
    height: 100%;
  }
}