/*
    Avatars
   ------------------------
*/

.avatar {
  display: inline-block;
  width: 3.125rem;
  height: 3.125rem;
  border: none;
  background: $white;

  &.avatar-sm {
    width: 1.875rem;
    height: 1.875rem;
  }

  &.avatar-lg {
    width: 5.625rem;
    height: 5.625rem;
  }

  &.avatar-xl {
    width: 7.8125rem;
    height: 7.8125rem;
  }
}

.avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}