.card {
  .card-img {
    position: relative;
  }
  // card actions
  .card-action {
    position: absolute;
    top: 1.25rem;
    background-color: transparent;
    border: none;
    [class^="flaticon-"], [class*=" flaticon-"],
    [class^="flaticon-"], [class*=" flaticon-"] {
      font-size: 1.5625rem;
      line-height: 1.5625rem;
      color: $black;
      &::before {
        font-size: 1.5625rem;
        line-height: 1.5625rem;
      }
    }

    &:focus,
    &:active {
      outline: none;
    }

    &.action-left {
      left: 1.25rem;
    }
    &.action-right {
      right: 1.25rem;
    }

    &.active {
      [class^="flaticon-"], [class*=" flaticon-"],
      [class^="flaticon-"], [class*=" flaticon-"] {
        color: $primary;
      }
    }
  }
}