$drag-colour: $primary;
$drag-line-size: 10px;
$drag-circle-size: 25px;

.cocoen {
  box-sizing: border-box;
  cursor: pointer;
  line-height: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  user-select: none;

  * {
    box-sizing: inherit;

    &::after,
    &::before {
      box-sizing: inherit;
    }
  }

  img,
  picture > img {
    max-width: none;
  }

  > img,
  > picture > img {
    display: block;
    width: 100%;
  }

  > div {
    &:first-child,
    picture & {
      height: 100%;
      left: 0;
      overflow: hidden;
      position: absolute;
      top: 0;
      width: 50%;
    }
  }

  &-drag {
    background: $drag-colour;
    bottom: 0;
    cursor: ew-resize;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: $drag-line-size;

    &::before {
      content: $font-Flaticon-play-button-1;
      font-family: "Flaticon";
      background: $drag-colour;
      position: absolute;
      top: 50%;
      left: -$drag-circle-size + ($drag-line-size / 2);
      transform: translateY(-50%);
      height: $drag-circle-size * 2;
      width: $drag-circle-size;
      line-height: $drag-circle-size * 2;
      border-bottom-left-radius: $drag-circle-size * 2;
      border-top-left-radius: $drag-circle-size * 2;
      color: $white;
      padding-left: .625rem;
      @include font-size(8);
    }

    &::after {
      content: $font-Flaticon-play-button;
      font-family: "Flaticon";
      background: $drag-colour;
      position: absolute;
      top: 50%;
      left: $drag-line-size - ($drag-line-size / 2);
      transform: translateY(-50%);
      height: $drag-circle-size * 2;
      width: $drag-circle-size;
      line-height: $drag-circle-size * 2;
      border-bottom-right-radius: $drag-circle-size * 2;
      border-top-right-radius: $drag-circle-size * 2;
      color: $white;
      padding-left: .3125rem;
      @include font-size(8);
    }
  }
}
