/*
  Flaticon icon fonts: Flaticon
  Creation date: 04/03/2020 12:26
*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff2") format("woff2"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

// line height for flaticons
[class^="flaticon-"], [class*=" flaticon-"] {
  line-height: normal;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-size: $font-size-base;
  font-style: normal;
}

// fonts-size
[class^="display-1"]:before, [class*="display-1"]:before,
[class^="display-1"]:after, [class*="display-1"]:after {
  font-size: $display1-size;
  margin-bottom: 0;
}
[class^="display-2"]:before, [class*="display-2"]:before,
[class^="display-2"]:after, [class*="display-2"]:after {
  font-size: $display2-size;
  margin-bottom: 0;
}
[class^="display-3"]:before, [class*="display-3"]:before,
[class^="display-3"]:after, [class*="display-3"]:after {
  font-size: $display3-size;
  margin-bottom: 0;
}
[class^="display-4"]:before, [class*="display-4"]:before,
[class^="display-4"]:after, [class*="display-4"]:after {
  font-size: $display4-size;
  margin-bottom: 0;
}
[class^="h1"]:before, [class*="h1"]:before,
[class^="h1"]:after, [class*="h1"]:after {
  font-size: $h1-font-size;
  margin-bottom: 0;
}
[class^="h2"]:before, [class*="h2"]:before,
[class^="h2"]:after, [class*="h2"]:after {
  font-size: $h2-font-size;
  margin-bottom: 0;
}
[class^="h3"]:before, [class*="h3"]:before,
[class^="h3"]:after, [class*="h3"]:after {
  font-size: $h3-font-size;
  margin-bottom: 0;
}
[class^="h4"]:before, [class*="h4"]:before,
[class^="h4"]:after, [class*="h4"]:after {
  font-size: $h4-font-size;
  margin-bottom: 0;
}
[class^="h5"]:before, [class*="h5"]:before,
[class^="h5"]:after, [class*="h5"]:after {
  font-size: $h5-font-size;
  margin-bottom: 0;
}
[class^="h6"]:before, [class*="h6"]:before,
[class^="h6"]:after, [class*="h6"]:after {
  font-size: $h6-font-size;
  margin-bottom: 0;
}
[class^="small"]:before, [class*="small"]:before,
[class^="small"]:after, [class*="small"]:after {
  @include font-size(12);
  margin-bottom: 0;
}

.svg-icon {
  &.display-1 {
    width: $display1-size;
    height: $display1-size;
    margin-bottom: 0;
  }
  &.display-2 {
    width: $display2-size;
    height: $display2-size;
    margin-bottom: 0;
  }
  &.display-3 {
    width: $display3-size;
    height: $display3-size;
    margin-bottom: 0;
  }
  &.display-4 {
    width: $display4-size;
    height: $display4-size;
    margin-bottom: 0;
  }
  &.h1 {
    width: $h1-font-size;
    height: $h1-font-size;
    margin-bottom: 0;
  }
  &.h2 {
    width: $h2-font-size;
    height: $h2-font-size;
    margin-bottom: 0;
  }
  &.h3 {
    width: $h3-font-size;
    height: $h3-font-size;
    margin-bottom: 0;
  }
  &.h4 {
    width: $h4-font-size;
    height: $h4-font-size;
    margin-bottom: 0;
  }
  &.h5 {
    width: $h5-font-size;
    height: $h5-font-size;
    margin-bottom: 0;
  }
  &.h6 {
    width: $h6-font-size;
    height: $h6-font-size;
    margin-bottom: 0;
  }
  &.small {
    width: $font-size-sm;
    height: $font-size-sm;
    margin-bottom: 0;
  }
}

.flaticon-envelope:before { content: "\f100"; }
.flaticon-instagram:before { content: "\f101"; }
.flaticon-settings:before { content: "\f102"; }
.flaticon-chair:before { content: "\f103"; }
.flaticon-security:before { content: "\f104"; }
.flaticon-plastic-bag:before { content: "\f105"; }
.flaticon-help:before { content: "\f106"; }
.flaticon-all:before { content: "\f107"; }
.flaticon-play-button:before { content: "\f108"; }
.flaticon-camera:before { content: "\f109"; }
.flaticon-close:before { content: "\f10a"; }
.flaticon-null:before { content: "\f10b"; }
.flaticon-close-1:before { content: "\f10c"; }
.flaticon-google-plus:before { content: "\f10d"; }
.flaticon-sofa:before { content: "\f10e"; }
.flaticon-sofa-bed:before { content: "\f10f"; }
.flaticon-sofa-1:before { content: "\f110"; }
.flaticon-stool:before { content: "\f111"; }
.flaticon-stool-1:before { content: "\f112"; }
.flaticon-box:before { content: "\f113"; }
.flaticon-icon-263110:before { content: "\f114"; }
.flaticon-lamps:before { content: "\f115"; }
.flaticon-alert:before { content: "\f116"; }
.flaticon-maps-and-flags:before { content: "\f117"; }
.flaticon-envelope-1:before { content: "\f118"; }
.flaticon-search:before { content: "\f119"; }
.flaticon-pin:before { content: "\f11a"; }
.flaticon-shopping-cart:before { content: "\f11b"; }
.flaticon-visibility:before { content: "\f11c"; }
.flaticon-star:before { content: "\f11d"; }
.flaticon-document:before { content: "\f11e"; }
.flaticon-next:before { content: "\f11f"; }
.flaticon-facebook:before { content: "\f120"; }
.flaticon-pinterest:before { content: "\f121"; }
.flaticon-twitter:before { content: "\f122"; }
.flaticon-cube:before { content: "\f123"; }
.flaticon-heart:before { content: "\f124"; }
.flaticon-left-arrow:before { content: "\f125"; }
.flaticon-play-button-1:before { content: "\f126"; }
.flaticon-plus:before { content: "\f127"; }
.flaticon-user:before { content: "\f128"; }

$font-Flaticon-envelope: "\f100";
$font-Flaticon-instagram: "\f101";
$font-Flaticon-settings: "\f102";
$font-Flaticon-chair: "\f103";
$font-Flaticon-security: "\f104";
$font-Flaticon-plastic-bag: "\f105";
$font-Flaticon-help: "\f106";
$font-Flaticon-all: "\f107";
$font-Flaticon-play-button: "\f108";
$font-Flaticon-camera: "\f109";
$font-Flaticon-close: "\f10a";
$font-Flaticon-null: "\f10b";
$font-Flaticon-close-1: "\f10c";
$font-Flaticon-google-plus: "\f10d";
$font-Flaticon-sofa: "\f10e";
$font-Flaticon-sofa-bed: "\f10f";
$font-Flaticon-sofa-1: "\f110";
$font-Flaticon-stool: "\f111";
$font-Flaticon-stool-1: "\f112";
$font-Flaticon-box: "\f113";
$font-Flaticon-icon-263110: "\f114";
$font-Flaticon-lamps: "\f115";
$font-Flaticon-alert: "\f116";
$font-Flaticon-maps-and-flags: "\f117";
$font-Flaticon-envelope-1: "\f118";
$font-Flaticon-search: "\f119";
$font-Flaticon-pin: "\f11a";
$font-Flaticon-shopping-cart: "\f11b";
$font-Flaticon-visibility: "\f11c";
$font-Flaticon-star: "\f11d";
$font-Flaticon-document: "\f11e";
$font-Flaticon-next: "\f11f";
$font-Flaticon-facebook: "\f120";
$font-Flaticon-pinterest: "\f121";
$font-Flaticon-twitter: "\f122";
$font-Flaticon-cube: "\f123";
$font-Flaticon-heart: "\f124";
$font-Flaticon-left-arrow: "\f125";
$font-Flaticon-play-button-1: "\f126";
$font-Flaticon-plus: "\f127";
$font-Flaticon-user: "\f128";