/*
    Forms
   ------------------------
*/

label {
  color: $black;
  font-weight: 500;
  font-size: $font-size-base;
  letter-spacing: $font-letter-spacing;
}

// qty Form
.qty-container {
  width: 5.375rem;
  min-height: 40px;
  .input-group-append {
    border: 1px solid $input-border-color;
    flex-direction: column;
    .qty {
      height: 50%;
      line-height: 8px;
      padding-left: 9px;
      padding-right: 9px;
      background-color: transparent;
      border: none;
      color: $gray-500;
      .flaticon-play-button,
      .flaticon-play-button-1 {
        display: inline-block;
        font-size: 8px;
        &::before {
          font-size: 8px;
        }
      }
      .flaticon-play-button {
        transform: rotate(-90deg);
      }
      .flaticon-play-button-1 {
        transform: rotate(-90deg);
      }

      @include hover() {
        outline: none;
        color: $black;
      }

      &:focus,
      &:active {
        outline: none;
      }
    }
  }
}