.list-group-flush {
  .list-group-item {
    border-right-width: 0;
    border-left-width: 0;
    padding-left: 0!important;
    padding-right: 0!important;

    &:first-child {
      border-top-width: 1px;
    }
  }

  &:last-child {
    .list-group-item:last-child {
      border-bottom-width: 1px;
    }
  }
}

// sizes
.list-group-lg {
  .list-group-item {
    padding: 1.875rem 1.875rem;
  }
}