/*
* ===================================================
*     Modal Dialog Vertical
* ===================================================
*/
.modal-dialog-vertical {
  max-height: 100vh;
  max-width: 470px;
  margin: 0;

  .modal-content {
    max-height: 100vh;
  }
}

.modal {
  &.fade {
    .modal-dialog-vertical {
      transform: translateX(-100%);
    }
  }

  &.show {
    .modal-dialog-vertical {
      transform: translateX(0);
    }
  }

  &.fixed-right {
    padding-right: 0!important;

    .modal-dialog-vertical {
      margin-left: auto;
    }

    &.fade {
      .modal-dialog-vertical {
        transform: translateX(100%);
      }
    }

    &.show {
      .modal-dialog-vertical{
        transform: translateX(0);
      }
    }
  }
}