/*
    Navbar
   ------------------------
*/
// navbar brand style for minimalis logo

.navbar-brand {
  font-size: $h4-font-size;
  font-weight: $font-weight-bolder;
  letter-spacing: $lead-font-letter-spacing;
}

// navbar Nav
.navbar-nav {
  .nav-link {
    font-weight: $font-weight-medium;
  }
}

.navbar-icons {
  flex-direction: row;

  .nav-item {
    margin-right: $navbar-nav-link-margin-x;
    margin-left: $navbar-nav-link-margin-x;

    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }

    @include hover() {
      .nav-link {
        color: $primary !important;
      }
    }
  }

  .nav-link {
    padding-top: $navbar-nav-link-padding-y;
    padding-bottom: $navbar-nav-link-padding-y;
    i {
      &::before {
        @include font-size(18);
      }
    }
  }
}

// custom toggler
.custom-toggler {
  cursor: pointer;
  position: relative;
  padding-left: 0;
  width: 1.6875rem;
  height: 1.6875rem;
  background-image: none;

  @include hover-focus() {
    outline: none;
  }

  .navbar-toggler-icon {
    margin-top: 0.75rem;
    width: 0.875rem;
    height: 0.1875rem;
    background-color: $black;
    @include transition(all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.2s);
    &::before, &::after {
      @include transition(all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.2s);
      content: "";
      position: absolute;
      left: 0;
      width: 1.5rem;
      height: 0.1875rem;
      background-color: $black;
    }
    &::before { top: 0.1875rem; }
    &::after { top: 1.3125rem; }
  }
  &[aria-expanded="true"] {
    .navbar-toggler-icon {
      width: 0;
      &::before {
        top: 11px;
        transform: rotate(45deg);
      }
      &::after {
        top: 11px;
        transform: rotate(-45deg);
      }
    }
  }
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

// flex basic
.flex-basic-30 { flex-basis: 30%; }
.flex-basic-100 { flex-basis: 100%; }

// Generate series of `.navbar-expand-*` responsive classes for configuring
// where your navbar collapses.
.navbar-expand {
  @each $breakpoint in map-keys($grid-breakpoints) {
    $next: breakpoint-next($breakpoint, $grid-breakpoints);
    $infix: breakpoint-infix($next, $grid-breakpoints);

    &#{$infix} {
      @include media-breakpoint-down($breakpoint) {
        .navbar-collapse {
          border-top: 1px solid $gray-200;
          margin-left: -0.9375rem;
          margin-right: -0.9375rem;
          padding-left: 0.9375rem;
          padding-right: 0.9375rem;
        }

        .dropdown-menu {
          margin-top: 0;
          border-color: $gray-100;
          background-color: $gray-100;
        }

        .mega-dropdown-menu {
          .container {
            max-width: 100%;
          }
        }

        .show >  {
          .dropdown-toggle {
            &::after {
              margin-top: 0!important;
            }
          }
        }

        .dropdown-toggle {
          position: relative;
          &::after {
            position: absolute;
            margin-top: -0.3125rem;
            top: 50%;
            right: 0;
          }
        }

        .navbar-nav {
          &:not(.navbar-icons) {
            .nav-item { margin-top: 0.9375rem; }

            .nav-link {
              border-bottom: 1px solid $gray-100;
            }
          }
        }
      }

      @include media-breakpoint-up($next) {
        .hovered-nav {
          .dropdown,
          .dropdown-submenu {
            .dropdown-menu {
              display: block;
              visibility: hidden;
              opacity: 0;
              transform: translateY(1.25rem);
              @include transition(all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.2s);
              &::before {
                content: '';
                position: absolute;
                top: -0.375rem;
                left: 0;
                width: 100%;
                height: 0.375rem;
                background-color: transparent;
              }
            }

            &:hover {
              >.dropdown-menu {
                visibility: visible;
                opacity: 1;
                transform: translateY(0px);
              }

              > .nav-link {
                border-bottom-color: $navbar-light-active-color;
              }
            }
          }
        }

        .navbar-nav {
          flex-basis: 100%;
          flex-direction: row;

          .nav-link {
            padding-top: $navbar-nav-link-padding-y;
            padding-bottom: $navbar-nav-link-padding-y;
          }

          &:not(.navbar-icons) {
            .nav-link {
              border-bottom: 2px solid transparent;

              @include hover() {
                border-bottom-color: $navbar-light-active-color;
              }
            }
          }

          .nav-item {
            margin-right: $navbar-nav-link-margin-x;
            margin-left: $navbar-nav-link-margin-x;
            &:first-child {
              margin-left: 0;
            }
            &:last-child {
              margin-right: 0;
            }
          }

          &:not(.hovered-nav) {
            .show > .nav-link,
            .nav-link.show {
              border-bottom-color: $navbar-light-active-color;
            }
          }

          .active > .nav-link,
          .nav-link.active {
            border-bottom-color: $navbar-light-active-color;
          }

          .show > .dropdown-toggle {
            @include caret(down);
          }

          // dropdown submenu
          .dropdown-submenu {
            position: relative;
            .dropdown-toggle {
              @include caret(right);
              &::after {
                position: absolute;
                right: 0.625rem;
                top: 50%;
                margin-top: -0.1875rem;
              }
            }

            .dropdown-menu {
              top: -0.375rem;
              left: 100%;
              margin-left: .1rem;
              margin-right: .1rem;
            }
          }
        }

        .navbar-collapse {
          flex-basis: 100%;
        }
      }
    }
  }
}

.dropdown-menu-lg {
  padding: 1.25rem 0 .9375rem 0;
}

// Mega menu
.mega-dropdown {
  position: static;
}
.mega-dropdown-menu {
  width: 100%;
  position: absolute;
  margin-top: 0;
  padding: 2.5rem 0;
  &::before { display: none; }
}
