/*
    Typography
   ------------------------
*/

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  letter-spacing: $headings-letter-spacing;
}

h1, .h1 { line-height: 2.375rem;  }
h2, .h2 { line-height: 2.125rem; }
h3, .h3 { line-height: 1.75rem; }
h4, .h4 { line-height: 1.625rem; }
h5, .h5 { line-height: 1.375rem; }
h6, .h6 { line-height: 1.125rem; }

.lead {
  letter-spacing: $lead-font-letter-spacing;
}

p, a {
  letter-spacing: $font-letter-spacing;
}

.small {
  font-size: $small-font-size;
}

// divider
hr {
  &.border-white {
    border-top: $hr-border-width solid $hr-border-color-2!important;
  }
}

// line heights
.line-height-18 { line-height: 1.125rem; }

// list style ( seperation line )

// :nth-last-child(1 of :not(.d-none))
.sep-line {
  margin-right: 0!important;
  &:not(:first-child) {
    line-height: .875rem;
    padding-left: 1.5rem;
    margin-left: 1.25rem;
    border-left: 1px solid #ffffff;
    @each $color, $value in $theme-colors {
      &.line-#{$color} {
        border-left: 1px solid $value !important;
      }
    }
  }
}

// list style ( link underline )

@each $color, $value in $theme-colors {
  &.link-underline-#{$color} {
    li {
      a {
        position: relative;
        &::after {
          content: ' ';
          position: absolute;
          bottom: -0.1875rem;
          left: 0;
          width: 0;
          height: 1px;
          background-color: $value;
          @include transition(all 0.2s ease);
        }
        @include hover() {
          &::after {
            width: 100%;
          }
        }
      }
    }
  }
}

// text hover
@each $color, $value in $theme-colors {
  .text-hover-#{$color} {
    @include hover() {
      color: $value!important;
    }
  }
}