/*
    Documentation
   ------------------------
*/

//sidebar
.sidebar {
  margin-top: 4.6875rem;
}

//sidebar sticky
.sidebar-sticky {
  position: relative;
  top: 0;
  width: 100%;
  padding-top: 2.1875rem;
  padding-bottom: 2.1875rem;

  // sidebar heading used as menu title
  .sidebar-heading {
    margin-bottom: 1rem;
  }

  // sidebar nav menu links
  .nav {
    margin-bottom: 1.5rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .nav-link {
    font-weight: $font-weight-medium;
    padding: 0.375rem 0;
    color: $gray-600;
    @include transition();
    &:hover, &:active, &:focus {
      color: $primary;
    }
    &.active {
      color: $primary;
    }
  }
}

@include media-breakpoint-up(md) {
  //sidebar
  .sidebar {
    padding: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    border-right: 2px solid $gray-200;
  }

  //sidebar sticky
  .sidebar-sticky {
    height: calc(100vh - 4.6875rem);
    padding: 2.1875rem 1.875rem;
    overflow-x: hidden;
    overflow-y: hidden; /* Scrollable contents if viewport is shorter than content. */

    &:hover {
      overflow-x: hidden;
      overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    }
  }
}

/*
* Content main area of documentation
*/
#main {
  padding: 3.125rem 1.8125rem;
}
@include media-breakpoint-up(md) {
  #main {
    padding: 6.875rem 5rem 2.8125rem 5rem;
  }
}
// code example style
.bd-example {
  padding: 1.5rem;
  border-width: 2px!important;
}

// file strukture list
.file-structure {
  position: relative;
  &:before {
    content: ' ';
    width: 1px;
    height: calc(100% - 30px);
    background-color: $gray-200;
    position: absolute;
    left: 10px;
    top: 50%;
    z-index: -1;
    transform: translateY(-50%);
  }
  li {
    margin-bottom: 15px;
    ul {
      position: relative;
      list-style-type: none;
      padding: 0 0 0 30px;
      margin: 15px 0;
      &:before {
        content: ' ';
        width: 1px;
        height: calc(100% - 30px);
        background-color: $gray-200;
        position: absolute;
        left: 40px;
        top: 50%;
        z-index: -1;
        transform: translateY(-50%);
      }
    }
  }
}